/* Обнуление */
* {margin: 0; padding: 0;}
html, body {height: 100%;}

/* Структура сайта */
* html #left {
  left: 250px;  /* RC fullwidth */
}
/* не понял, зачем надо это: */
* html body {
  overflow: hidden;
}
* html #footer-wrapper {
  float: left;
  position: relative;
  width: 100%;
  padding-bottom: 10010px;
  margin-bottom: -10000px;
  background: #fff;         /* Same as body background */
}
/* если не ограничить сжатие body, то при уменьшении окна всё разлетится */
body {
  min-width: 726px;  /* 2x LC fullwidth ((198+10)x2+40+250) + CC padding  + RC width */
}
#header { 
  height:106px; 
  background: #fff; 
  border-bottom: 5px solid #333;
}
#container {
  padding-left: 198px;   /* LC width */
  padding-right: 290px;  /* RC fullwidth (250) + CC padding */
  margin-top: -106px; /* -высота шапки */
  overflow: hidden; /* добавление этого скрывает растягивание ниже на X (20000px+10) */
}
#container .column {
  float: left;
  padding-bottom: 20010px;  /* X + padding-bottom */
  margin-bottom: -20000px;  /* X */
}

#center {
  width: 100%;
  background:#cf0;
  padding: 10px 20px;    /* CC padding */
  margin-top:111px; /* высота шапки + границы 5px */
}
/* Если не делать relative, то у меня не работало */
#left {
  position: relative;
  width: 178px;  /* планируемая LC width (198) - padding*/
  padding: 0 10px;
  background:#39f;
  margin-left:-100%; 
  right:238px; /* LC fullwidth + CC padding */

}
#right {
  width: 230px;  /* планируемая RC width (250) - padding */
  padding: 0 10px; 
  background:red;
  margin-right:-290px ; /* RC fullwidth + CC padding */
  margin-top:111px; /* высота шапки + границы 5px */
}
#footer {
  clear: both;
  background:#ccc;
  position: relative;
}

/* Стили шапки*/

#logo {position:relative; left:27px; max-width: 360px; min-width:280px; float:left; height:106px;} 
/* top:22px; если undertitle закоментен */
	#undertitle {position:relative; top:18px; font-family: 'Roboto', sans-serif; font-weight: 400; font-size:13px; color:#999; margin: 0 0 14px 0;}
	#title  a {font-family: 'Exo', sans-serif; font-weight: 800; font-size:42px; color: #000; } 
	#subtitle {font-family: 'Roboto', sans-serif; font-weight: 400; font-size:13px; color: #999; margin: -8px 0 0 0;}

/* Навигация */
nav {margin: 22px 0 0 22px}
ol, li {list-style-type: none;}
ol {padding: 7px 0 13px 0;}
li {padding: 4px 0 3px 0;}

.cat-bar {margin:4px 0 0 0; font-family: 'Cuprum', sans-serif; font-weight: 400; font-size:18px;}
 a.cat-bar{color:#f63;} 
 a.cat-bar:hover {color:#f63;} 
 a.cat-bar:visited {color:#f63;}
#subcat {font-family: 'Roboto', sans-serif; font-weight: 700; font-size:15px;}
 #subcat a{color: #fff; } 
 #subcat a:hover {color: #ccc;} 
 #subcat a:visited {color: #fff;}

.cat {margin:4px 0 0 0; font-family: 'Cuprum', sans-serif; font-weight: 400; font-size:16px;}
 a.cat {color: #c9201d;} 
 a.cat:hover {color: #c9201d;} 
 a.cat:visited {color: #c9201d;}

h2 {font-family: 'Roboto', sans-serif; font-weight: 700; font-size:20px; margin: 0 0 4px 0;}
 a.h2{color:#000;}
 
.desc {font-family: 'Roboto', sans-serif; font-weight: 400; font-size:12px; margin:0; color: #333;}
.prim {font-family: 'Roboto', sans-serif; font-weight: 400; font-size:12px; margin:5px 0 3px 0; color: #39f;}
