/****************************************************
* @File: 		style.css
* @Action:		ITD lab. theme for GetSimple CMS
* @Autor:       Antanariva, Yekaterinburg, Russia
*****************************************************/

/* Стиль шаблона ITD lab. для сайта inteldata.ru
 * Изначально планировались колонки 200px+центр+280px
 * Справа сделали отступ 100px, чтобы не прижиматься к правому краю. Читаем то слева.
 * Затем прибавляли отступы (по 10 срава и слева в боковых, по 20 - в центральной)
 * Соответственно, идут расчёты и изменение значений ширины колонок и отступов
*/

/* просто для удобства */
* {margin: 0;}

/* если не ввести этот хак, IE6 выкинет левый столбик за экран */
* html #left {
  left: 350px;  /* RC fullwidth */
}
/* если не ограничить сжатие body, то при уменьшении окна всё разлетится */
body {
  min-width: 890px;  /* 2x LC fullwidth + CC padding  + RC width + 100px */
}
#header {  
  background:#ccc;
}
#container {
  padding-left: 200px;   /* LC width */
  padding-right: 490px;  /* RC fullwidth (300) + CC padding */
  overflow: hidden; /* добавление этого скрывает растягивание ниже на X (20000px+10) */
}
#container .column {
  float: left;
  padding-bottom: 20010px;  /* X + padding-bottom */
  margin-bottom: -20000px;  /* X */
}

#center {
  width: 100%;
  background:#cf0;
  padding: 10px 20px;    /* CC padding */
}
/* Если не делать relative, то у меня не работало */
#left {
  position: relative;
  width: 180px;  /* планируемая LC width (200) - padding*/
  padding: 0 10px;
  background:#39f;
  margin-left:-100%; 
  right:240px; /* LC fullwidth + CC padding */

}
#right {
  width: 300px;  /* планируемая RC width (280) - padding */
  padding: 0 10px; 
  background:red;
  margin-right:-390px ; /* RC fullwidth + CC padding + 50px*/

}
#footer {
  clear: both;
  background:#ccc;
  position: relative;
}

/* не понял, зачем надо это: */
* html body {
  overflow: hidden;
}
* html #footer-wrapper {
  float: left;
  position: relative;
  width: 100%;
  padding-bottom: 10010px;
  margin-bottom: -10000px;
  background: #fff;         /* Same as body background */